[submodule "src/trevor"]
	path = src/trevor
	url = https://github.com/USF-COMIT/trevor.git
[submodule "src/project11_msgs"]
	path = src/project11_msgs
	url = https://github.com/USF-COMIT/project11_msgs
[submodule "src/ntrip_client"]
	path = src/ntrip_client
	url = https://github.com/LORD-MicroStrain/ntrip_client
[submodule "src/microstrain_inertial"]
	url = https://github.com/LORD-MicroStrain/microstrain_inertial
